.body {
    background-image:url("../Recipe/assets/brooke-lark-08bOYnH_r_E-unsplash.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    width:100%;
    display:flex;
    justify-content:center;
}

.heading {
    color:black;
    font-family: 'The Girl Next Door', cursive;
}

.days {
    font-family: 'The Girl Next Door', cursive;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
    display:inline-block;
    padding:20px;
    margin-left:200px;
    margin:auto;
    margin-top:100px;
    margin-bottom:100px;
    width:400px;
    height:auto;
    flex:1;
    
}

#monday,#tuesday, #wednesday, #thursday, #friday, #saturday, #sunday{
    padding:30px;
}

#ulDays {
    text-decoration:none;
    list-style:none;
    font-size:150%;
}

